*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
:root{
    --borlor:rgb(41, 52, 59);
    --seprate:var(--borlor) 1px solid;
    --bg:rgb(32, 44, 51);
    --fg:rgb(17, 27, 33);
    --border:1px solid white;
    --middle:translate(-50%,-50%);
}
body{
    background-color: rgb(9, 16, 20);
}

.area-full{
    width: 1366px;
    height: 677px;
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: var(--middle); */
    box-shadow: rgb(15, 15, 15) 0 0 20px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.left{
    height: 100%;
    width: 30%;
    background-color: var(--bg);
    position: absolute;
    border-right: var(--seprate);
    transform-style: preserve-3d;
}
.left .up{
    height: 8.7%;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.199); */
    position: absolute;
}
.left .up .ppl{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: var(--middle);
    border-radius: 50%;
}
.left .up .ppl img{
    height: 40px;
}
.left .up p{
    width: fit-content;
    top: 50%;
    left: 22%;
    transform: var(--middle);
    position: absolute;
    color: rgb(174, 186, 188);
    font-size: 11px;
    font-weight: 500;
}
.left .up .status{
    position: absolute;
    transform: var(--middle);
    top: 50%;
    left: 67%;
    border-radius: 50%;
    /* background-color: white; */
    height: 30px;
    width: 30px;
}
.left .up .status .statu{
    position: absolute;
    transform: var(--middle);
    top: 50%;
    left: 50%;
}
.left .up .chat{
    position: absolute;
    transform: var(--middle);
    top: 49%;
    left: 79%;
    border-radius: 50%;
    /* background-color: white; */
    height: 30px;
    width: 30px;
}
.left .up .chat .cha{
    position: absolute;
    transform: var(--middle);
    top: 50%;
    left: 50%;
}
.left .up .opt{
    position: absolute;
    transform: var(--middle);
    top: 48%;
    left: 91%;
    border-radius: 50%;
    /* background-color: white; */
    height: 30px;
    width: 30px;
}
.left .up .opt .op{
    position: absolute;
    transform: var(--middle);
    top: 50%;
    left: 50%;
}
.left .down{
    height: 91.3%;
    width: 100%;
    background-color: var(--fg);
    bottom: 0;
    position: absolute;
}
.left .down .search{
    height: 8%;
    width: 100%;
    border-bottom:var(--seprate) ;
    position: absolute;
}
.left .down .search .warea{
    height: 72%;
    width: 93%;
    transform: var(--middle);
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: var(--bg);
    border-radius: 9px;
}
.left .down .search .warea .searArea{
    height: 100%;
    width: 100%;
    transform: var(--middle);
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: transparent;
    border-radius: 9px;
}
.left .down .search .warea ion-icon{
    height: 20px;
    width: 20px;
    color: rgb(109, 124, 132);
    top: 50%;
    left: 6%;
    transform: var(--middle);
    position: absolute;
}
.left .down .search .warea .se{
    animation: sea 0.5s forwards;
}
.left .down .search .warea .seb{
    animation: seab 0.5s backwards;
}
@keyframes sea {
    0%{
        color: rgb(109, 124, 132);
    }
    100%{
        color: rgba(109, 124, 132, 0);
    }
}
@keyframes seab {
    100%{
        color: rgb(109, 124, 132);
    }
    0%{
        color: rgba(109, 124, 132, 0);
    }
}
.left .down .search .warea .back{
    color: rgba(0, 168, 132, 0);
    height: 25px;
    width: 25px;
    transform: var(--middle) rotate(-135deg);
}
.left .down .search .warea .ba{
    animation: ba 0.5s forwards;
}
.left .down .search .warea .bab{
    animation: bab 0.5s backwards;
}
@keyframes ba {
    0%{
        transform: var(--middle) rotate(-135deg);
        color: rgba(0, 168, 132, 0);
    }
    100%{
        transform: var(--middle);
        color: rgb(0, 168, 132);
    }
}
@keyframes bab {
    100%{
        transform: var(--middle) rotate(-135deg);
        color: rgba(0, 168, 132, 0);
    }
    0%{
        transform: var(--middle);
        color: rgb(0, 168, 132);
    }
}
.left .down .search .warea p{
    transform: translate(0%,-50%);
    color: rgb(109, 124, 132);
    width: fit-content;
    top: 45%;
    left: 17%;
    position: absolute;
    font-size: 14px;
}
.left .down .search .warea .te{
    animation: text 0.5s forwards;
}
.left .down .search .warea .teb{
    animation: textb 0.5s backwards;
}
@keyframes text {
    100%{
        color: rgba(109, 124, 132, 0);
    }
}
@keyframes textb {
    100%{
        color: rgba(109, 124, 132, 0);
    }
    0%{
        color: rgb(109, 124, 132);
    }
}
.left .down .chats{
    height: 92%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.219); */
    position: absolute;
    bottom: 0;
}
.left .down .chats .arc{
    height: 49px;
    width: 100%;
    /* background-color: rgba(0,0,0,0.4); */
    position: absolute;
}
.left .down .chats .arc .img{
    height: 30px;
    width: 30px;
    transform: var(--middle);
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 50px;
    /* background-color: rgba(0,0,0,0.4); */
}
.left .down .chats .arc .img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--middle);
}
.left .down .chats .arc p{
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 27%;
    transform: var(--middle);
    color: white;
    font-size: 17px;
}
.left .down .chats .arc .bot{
    height: 100%;
    width: 81%;
    position: absolute;
    right: 0;
    border-bottom: var(--seprate);
    top: 0;
}
.left .down .chats .c-list{
    height: 91.3%;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* background-color: rgba(0,0,0,0.4); */
}
.left .down .chats .c-list .cs{
    height: 70px;
    width: 100%;
    position: absolute;
    /* background-color: rgba(0,0,0,0.4); */
    top: calc(var(--i)*70px);
}
.left .down .chats .c-list .cs .bot{
    height: 100%;
    width: 81%;
    position: absolute;
    right: 0;
    border-bottom: var(--seprate);
    top: 0;
}
.left .down .chats .c-list .cs img{
    position: absolute;
    transform: var(--middle);
    top: 50%;
    left: 10%;
}
.left .down .chats .c-list .cs .datetime{
    height: 10px;
    width: 6%;
    border-radius: 10px;
    top: 31%;
    right: 3%;
    position: absolute;
    transform: translate(-0%,-50%);
    background-color: #fff1;
}
.left .down .chats .c-list .cs .name{
    height: 15px;
    width: 50%;
    border-radius: 10px;
    top: 30%;
    left: 20%;
    position: absolute;
    transform: translate(-0%,-50%);
    background-color: #fff1;
}
.left .down .chats .c-list .cs .dis{
    height: 15px;
    width: 70%;
    border-radius: 10px;
    top: 70%;
    left: 20%;
    position: absolute;
    transform: translate(-0%,-50%);
    background-color: #fff1;
}
.cs:hover{
    background-color: var(--bg);
}
.left .arc-area{
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    position: absolute;
    transform: translateZ(1px);
    left: -100%;
    /* transition: 1s; */
    /* animation: arc 0.3s forwards; */
}
.left .arc-area-a{
    animation: arc 0.2s forwards;
}
.left .arc-area-b{
    animation: arc-b 0.2s forwards;
}
@keyframes arc {
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}
@keyframes arc-b {
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
}

.left .arc-area .up{
    height: 16%;
    width: 100%;
    /* background-color: #fff1; */
    color: white;
}
.left .arc-area .up .back{
    transform: var(--middle) translateZ(1px);
    width: 30px;
    height: 30px;
    top: 74%;
    left: 8.5%;
    position: absolute;
    color: white;
    border-radius: 50%;
    /* background-color: #fff1; */
}
.left .arc-area .up .back img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--middle);
}
.left .arc-area .up p{
    font-size:18px;
    color: white;
    position: absolute;
    transform: var(--middle);
    top: 72%;
    left: 25%;
}
.left .arc-area .c-area{
    height: 84%;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: var(--fg);
}
.left .arc-area .c-area .c-list{
    height: 100%;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* background-color: rgba(0,0,0,0.4); */
}
.left .arc-area .c-area .c-list .cs{
    height: 70px;
    width: 100%;
    position: absolute;
    /* background-color: rgba(0,0,0,0.4); */
    top: calc(var(--i)*70px);
}
.left .arc-area .c-area .c-list .cs .bot{
    height: 100%;
    width: 81%;
    position: absolute;
    right: 0;
    border-bottom: var(--seprate);
    top: 0;
}
.left .arc-area .c-area .c-list .cs img{
    position: absolute;
    transform: var(--middle);
    top: 50%;
    left: 10%;
}
.left .arc-area .c-area .c-list .cs .datetime{
    height: 10px;
    width: 6%;
    border-radius: 10px;
    top: 31%;
    right: 3%;
    position: absolute;
    transform: translate(-0%,-50%);
    background-color: #fff1;
}
.left .arc-area .c-area .c-list .cs .name{
    height: 15px;
    width: 50%;
    border-radius: 10px;
    top: 30%;
    left: 20%;
    position: absolute;
    transform: translate(-0%,-50%);
    background-color: #fff1;
}
.left .arc-area .c-area .c-list .cs .dis{
    height: 15px;
    width: 70%;
    border-radius: 10px;
    top: 70%;
    left: 20%;
    position: absolute;
    transform: translate(-0%,-50%);
    background-color: #fff1;
}




.right{
    height: 100%;
    width: 70%;
    background-color: rgb(34, 46, 53);
    position: absolute;
    right: 0;
}
.right::after{
    height: 6px;
    width: 100%;
    background-color: rgb(23, 138, 119);
    position: absolute;
    content: '';
    bottom: 0;
}
.right .nochat{
    transform: var(--middle);
    position: absolute;
    top: 38%;
    left: 50%;
}
.right h1{
    transform: var(--middle);
    position: absolute;
    width: fit-content;
    top: 62.5%;
    left: 47%;
    color: rgb(208, 213, 215);
    font-weight: 100;
}
.right .font{
    border-radius: 15px;
    background-color: rgb(54, 65, 71);
    font-size: 11px;
    padding: 5px;
    color: rgb(192, 207, 176);
    transform: var(--middle);
    top: 63%;
    left: 62%;
    position: absolute;
    width: fit-content;
}
.right p{
    text-align: center;
    font-size: 14.5px;
    position: relative;
    top: 68%;
    padding: 2px;
    color: rgb(133, 158, 173);
}
.right h6{
    width: fit-content;
    position: absolute;
    transform: var(--middle);
    top: 92%;
    left: 50%;
    color: rgb(94, 118, 133);
    font-size: 14px;
    font-weight: 100;
}

.chat-areas{
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform: translateZ(-10px) scale(0);
    transition: 0.1s;
}
.chat-areas-a{
    transform: translateZ(10px) scale(1);
    transition: 0.1s;
}
.chat-areas .chat-area{
    height: 100%;
    width: 100%;
    position: absolute;
    transform: var(--middle);
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.644);
}
.chat-areas .chat-area .top{
    height: 8.72%;
    width: 100%;
    background-color: rgb(32, 44, 51);
    position: absolute;
}
.chat-areas .chat-area .top .dp{
    background-color: #fff1;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    transform: var(--middle);
    top: 50%;
    left: 4%;
}
.chat-areas .chat-area .top .dp img{
    height: 40px;
    width: 40px;
}
.chat-areas .chat-area .top .name{
    width: 100px;
    height: 12px;
    border-radius: 10px;
    top: 35%;
    transform: translate(-0%,-50%);
    left: 7%;
    background-color: #fff1;
    position: absolute;
}
.chat-areas .chat-area .top .status{
    top: 65%;
    height: 10px;
    width: 70px;
}
.chat-areas .chat-area .top .search{
    height: 30px;
    width: 30px;
    /* background-color: #fff1; */
    border-radius: 50%;    
    position: absolute;
    transform: var(--middle);
    top: 50%;
    right: 4.5%;
}
.chat-areas .chat-area .top .search img{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: var(--middle);
}
.chat-areas .chat-area .top .option{
    right: 0.5%;
}
.chat-areas .chat-area .text-area{
    width: 100%;
    position: absolute;
    height: 560px;
    top: 8.72%;
    position: absolute;
    background: url(bg.png);
}
.chat-areas .chat-area .text-area .status{
    height: 30px;
    width: 60px;
    background: rgb(24, 34, 41);
    border-radius: 7px;
    transform: var(--middle);
    bottom: 9%;
    left: 50%;
    position: absolute;
}
.chat-areas .chat-area .text-area .status p{
    transform: var(--middle);
    color: rgb(109, 124, 133);
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: 500;
}
.chat-areas .chat-area .text-area .not{
    height: 30px;
    width: 792px;
    border-radius: 7px;
    background: rgb(24, 34, 41);
    transform: var(--middle);
    bottom: 1%;
    left: 50%;
    position: absolute;
}
.chat-areas .chat-area .text-area .not p{
    color: rgb(240, 193, 113);
    font-size: 13px;
    transform: var(--middle);
    top: 50%;
    left: 50.8%;
    position: absolute;
    width: 760px;
}
.chat-areas .chat-area .text-area .not img{
    transform: var(--middle);
    top: 48%;
    position: absolute;
    left: 1.8%;
}
.chat-areas .chat-area .down{
    height: 9.5%;
    width: 100%;
    background-color: var(--bg);
    bottom: 0;
    position: absolute;
}
.chat-areas .chat-area .down .smile{
    height: 30px;
    width: 30px;
    /* background-color: #fff1; */
    position: absolute;
    transform: var(--middle);
    top: 50%;
    border-radius: 50%;
    left: 3.6%;
}
.chat-areas .chat-area .down .smile img{
    transform: var(--middle);
    top: 50%;
    left: 50%;
    position: absolute;
}
.chat-areas .chat-area .down .attac{
    left: 8%;
}
.chat-areas .chat-area .down input{
    width: 767px;
    height: 22px;
    transform: var(--middle);
    position: absolute;
    top: 50%;
    left: 52%;
    border-radius: 10px;
    border: 0px red solid;
    background-color: rgba(67, 74, 78, 0.37);
    font-size: 14.5px;
    color: white;
    padding: 10px;
    cursor: text;
}
.chat-areas .chat-area .down input:focus{
    outline: none;
}
.chat-areas .chat-area .down ion-icon{
    color: rgb(92, 110, 119);
    height: 25px;
    width: 25px;
    position: absolute;
    transform: var(--middle);
    top: 50%;
    right: 1%;
}
.chat-areas .chat-area .down .send{
    color: transparent;
}
.chat-areas .chat-area .down .sen{
    animation: sen 0.5s forwards;
}
@keyframes sen {
    0%{
        color: transparent;
    }
    100%{
        color: rgb(92, 110, 119);
    }
}
.chat-areas .chat-area .down .sen-b{
    animation: senb 0.5s forwards;
}
@keyframes senb {
    100%{
        color: transparent;
    }
    0%{
        color: rgb(92, 110, 119);
    }
}
.chat-areas .chat-area .down .mi{
    animation: mi 0.5s forwards;
}
@keyframes mi {
    0%{
        color: rgb(92, 110, 119);
    }
    100%{
        color: transparent;
    }
}
.chat-areas .chat-area .down .mi-b{
    animation: mib 0.5s forwards;
}
@keyframes mib {
    100%{
        color: rgb(92, 110, 119);
    }
    0%{
        color: transparent;
    }
}