*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
:root{
    --borlor:rgb(41, 52, 59);
}
body{
    background-color: black;
}



.left{
    height: 100%;
    width: 30%;
    background-color: rgb(32, 44, 51);
    position: absolute;
    border-right: var(--borlor) 1px solid;
}
.left .up{
    height: 8.7%;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.199); */
    position: absolute;
}
.left .up .ppl{
    height: 41px;
    width: 41px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.left .up .ppl img{
    height: 41px;
}
.left .up p{
    width: fit-content;
    top: 50%;
    left: 22%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: rgb(174, 186, 188);
    font-size: 11px;
    font-weight: 500;
}
.left .up .status{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 67%;
    border-radius: 50%;
    /* background-color: white; */
    height: 30px;
    width: 30px;
}
.left .up .status .statu{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.left .up .chat{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 49%;
    left: 79%;
    border-radius: 50%;
    /* background-color: white; */
    height: 30px;
    width: 30px;
}
.left .up .chat .cha{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.left .up .opt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 48%;
    left: 91%;
    border-radius: 50%;
    /* background-color: white; */
    height: 30px;
    width: 30px;
}
.left .up .opt .op{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.left .down{
    height: 91.3%;
    width: 100%;
    background-color: rgb(17, 27, 33);
    bottom: 0;
    position: absolute;
}
.left .down .search{
    height: 8%;
    width: 100%;
    border-bottom:var(--borlor) 1px solid ;
    position: absolute;
}
.left .down .search .warea{
    height: 72%;
    width: 93%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: rgb(32, 44, 51);
    border-radius: 9px;
}
.left .down .chats{
    height: 92%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.219); */
    position: absolute;
    bottom: 0;
}
.left .down .chats .archive{
    height: 8.7%;
    width: 100%;
    position: absolute;
    top: 0;
}
.left .down .chats .archive .bot{
    border-bottom: var(--borlor) 1px solid;
    right: 0;
    position: absolute;
    height: 100%;
    width: 80%;
}
.left .down .chats .chat {
    height: 12%;
    width: 100%;
    position: absolute;
    /* background-color: violet; */
    top: 8.7%;
}
.left .down .chats .chat-1{
    margin-top: 12%;
    top: calc(var(--i)*12%);
}
.left .down .chats .chat .bot{
    height: 100%;
    width: 80%;
    border-bottom: var(--borlor) 1PX solid;
    right: 0;
    position: absolute; 
}








.right{
    height: 100%;
    width: 70%;
    background-color: rgb(34, 46, 53);
    position: absolute;
    right: 0;
}
.right::after{
    height: 6px;
    width: 100%;
    background-color: rgb(23, 138, 119);
    position: absolute;
    content: '';
    bottom: 0;
}
.right .nochat{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 38%;
    left: 50%;
}
.right h1{
    transform: translate(-50%,-50%);
    position: absolute;
    width: fit-content;
    top: 62.5%;
    left: 47%;
    color: rgb(208, 213, 215);
    font-weight: 100;
}
.right .font{
    border-radius: 15px;
    background-color: rgb(54, 65, 71);
    font-size: 11px;
    padding: 5px;
    color: rgb(192, 207, 176);
    transform: translate(-50%,-50%);
    top: 63%;
    left: 62%;
    position: absolute;
    width: fit-content;
}
.right p{
    text-align: center;
    font-size: 14.5px;
    position: relative;
    top: 68%;
    padding: 2px;
    color: rgb(133, 158, 173);
}
.right h6{
    width: fit-content;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 92%;
    left: 50%;
    color: rgb(94, 118, 133);
    font-size: 14px;
    font-weight: 100;
}